/* Reset Default Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

/* Generic Styles */
.body {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Header Styles */
.header {
  height: 100px;
  background-color: #f5f7fa;
}

.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

/* Banner Styles */
.banner {
  background-color: #f5f7fa;
  height: 85vh;
}

.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner h1 {
  font-size: 2.7rem;
}
.banner p {
  margin: 30px 0;
  font-size: 1.1rem;
}

.banner .links {
  margin: 25px 0;
}

.banner a {
  text-decoration: none;
  border: 3px solid black;
  color: white;
  padding: 20px 30px;
  background-color: black;
  font-weight: 600;
}

.banner a:nth-child(2) {
  color: black;
  background-color: white;
  margin-left: 10px;
  margin-top: 0;
}

.banner .clients {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
}
.banner img {
  width: 100%;
  max-width: 120px;
}

img {
  width: 100%;
}

/* main style  */
.main {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 50px auto;
}

.main-left {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-left img {
  height: 85px;
}

.main-left h2 {
  font-size: 1.8rem;
}
.main-left p {
  font-size: .9rem;
  line-height: 1.8;
  padding: 20px 0;
}

.main-left img {
  width: 446px;
  height: 87px;
}

.main-rigth {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #9a848414;
  padding: 20px 10px;
}

.main-rigth .img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img img {
  width: 130px;
}

.img a {
  font-size: 1.2rem;
  color: #2565c6;
}

.main-rigth q {
  margin: 20px 0;
  font-size: 1.1rem;
  font-weight: inherit;
  line-height: 1.5;
}

.main-rigth .face {
  width: 100%;
  display: flex;
  align-items: center;
}

.main-rigth .face img {
  border-radius: 50%;
  width: 80px;
}

.main-rigth .author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.main-rigth h6 {
  font-size: .9rem;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.author p {
  font-size: .9rem;
}

/* whats new  */
.whats-new {
  width: 100%;
  background-color: #9a848414;
  padding: 70px 0 80px;
}

.whats-new .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.whats-new-right {
  flex: 2;
}

.whats-new-right h3 {
  font-size: 2rem;
}

.whats-new-right p {
  margin: 20px 0;
  line-height: 1.8;
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.whats-new-right a {
  padding: 15px 20px;
  background-color: #333;
  color: #e8e5e5;
  text-decoration: none;
  font-size: 1.2rem;
}

.imgs {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
}

.imgs img {
  max-width: 100%;
  height: auto;
}

/* case studies  */
.case-studies {
  margin: 50px auto;
}
.case-studies h3 {
  font-size: 2rem;
  margin: 20px 0;
}

.case-studies p {
  margin: 20px 0;
  font-size: 1rem;
}

.case-studies-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
  padding: 20px 0;
}

.case-studies-data img {
  width: 100%;
}
.case-studies-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
}
.case-studies-details h4 {
  font-size: 1.2rem;
}

.case-studies-details h4:hover {
  text-decoration: underline;
}

.case-studies-details p {
  line-height: 1.8;
}

.case-studies.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
  padding: 20px;
}

.case-studies.left img {
  width: 100%;
}

.case-studies-details h5 {
  font-size: 1.2rem;
}

.case-studies-details h5:hover {
  text-decoration: underline;
} 

.case-studies-details p {
  line-height: 1.8;
}

.case-studies-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
  padding: 20px;
}

.case-studies-left img {
  width: 100%;
}



@media screen and (max-width: 450px) {
  html {
    font-size: 13px;
  }
  .header {
    height: 80px;
  }
  .banner h1 {
    font-size: 2rem;
  }
  .banner a {
    width: 100%;
    display: block;
  }
  .banner p {
    margin: 0;
    font-size: .9rem;
  }
  .banner a:nth-child(2) {
    margin-left: 0;
    margin-top: 10px;
  }
  .banner .clients {
    justify-content: flex-start;
    height: auto;
  }
}

@media screen and (max-width: 667px) {
  html {
    font-size: 14px;
  }
  .banner .clients {
    justify-content: flex-start;
  }
  .banner img {
    max-width: 100px;
    margin-right: 20px;
  }
  .whats-new .container {
    flex-direction: column;
  }
  .imgs {
    justify-content: center;
  }
  
  .imgs img {
    max-width: 50%;
  }
  .case-studies-data {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 780px) {
  html {
    font-size: 16px;
  }
  .header-right {
    display: none;
  }
  .banner {
    height: 100vh;
  }
}

@media screen and (max-width: 880px) {
  .main {
    flex-direction: column;
  }
  .main-left {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .main-left img {
    width: 100%;
  }
}
